<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="../assets/images/logo.png" type="image/x-icon" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4828507555708828" crossorigin="anonymous"></script>

    <script type="module">
      import { inject } from "@vercel/analytics";
    </script>

    <title>RacingStation | Formula 1</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/unicons.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../assets/css/tooplate-style.css" />
  </head>
  <body>
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/images/logo-dark.svg" class="img-fluid" height="250" width="220" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <div class="ml-lg-4">
              <div class="color-mode d-lg-flex justify-content-center align-items-center">
                <i class="color-mode-icon"></i>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- content -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
      <div class="container mt-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe frameborder="0" marginheight="0" marginwidth="0" height="520" src="https://crichdstreaming.xyz/embed2.php?id=skyspf1" name="iframe_a" scrolling="no" width="640" allowfullscreen>Your Browser Do not Support Iframe</iframe>
        </div>
      </div>
    </section>

    <!-- about -->
    <section>
      <div class="container mt-1">
        <div class="row">
          <div class="col-md-4">
            <div class="container">
              <h1>Support Me on Saweria</h1>
              <a href="https://saweria.co/RacingStation" target="_blank">
                <img src="../assets/images/saweria.png" alt="Support Me on Saweria" />
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <h1>What is Formula 1?</h1>
            <p class="text-justify">
              Formula One is the highest class of single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA). The World Drivers' Championship, which became the FIA Formula One World Championship in 1981, has
              been one of the premier forms of racing around the world since its inaugural season in 1950. The word 'formula' in the name refers to a set of rules to which all participants' cars must conform. A Formula One season consists
              of a series of races, known as Grands Prix, held on purpose-built circuits and public roads. The races are usually held on Sunday afternoons, and are preceded by three days of practice and qualifying. The starting order for
              the race is determined by qualifying, which is held on Saturday afternoon. The race winner is the driver who completes the most laps in the fastest time. Formula One is a global sport, with races held in countries all over the
              world. The most famous races include the Monaco Grand Prix, the British Grand Prix, and the Italian Grand Prix. Formula One is also one of the most popular sports in the world, with a television audience of over 400 million
              people.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center">Copyright &copy; 2024 <a href="https://youtube.com/@RacingStations" target="_blank">RacingStation</a></p>
            <p class="copyright-text text-center">Support me on <a rel="nofollow" href="https://saweria.co/RacingStation" target="_blank">Saweria</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/Headroom.js"></script>
    <script src="../assets/js/jQuery.headroom.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/smoothscroll.js"></script>
    <script src="../assets/js/custom.js"></script>
  </body>
</html>
