<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="../assets/images/logo.png" type="image/x-icon" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    

    <script type="module">
      import { inject } from "@vercel/analytics";
    </script>

    <title>RacingStation | MotoGP</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/unicons.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../assets/css/tooplate-style.css" />
  </head>
  <body>
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/images/logo-dark.svg" class="img-fluid" height="250" width="220" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <div class="ml-lg-4">
              <div class="color-mode d-lg-flex justify-content-center align-items-center">
                <i class="color-mode-icon"></i>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- content -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
      <div class="container mt-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe frameborder="0" marginheight="0" marginwidth="0" height="520" src="https://crichdstreaming.xyz/embed2.php?id=btsp2" name="iframe_a" scrolling="no" width="640" allowfullscreen>Your Browser Do not Support Iframe</iframe>
        </div>
      </div>
    </section>

    <!-- about -->
    <section>
      <div class="container mt-1">
        <div class="row">
          <div class="col-md-4">
            <div class="container">
              <h1>Support Me on Saweria</h1>
              <a href="https://saweria.co/RacingStation" target="_blank">
                <img src="../assets/images/saweria.png" alt="Support Me on Saweria" />
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <h1>What is MotoGP?</h1>
            <p class="text-justify">
              MotoGP, short for Motorcycle Grand Prix, is the premier class of motorcycle road racing events held on road circuits sanctioned by the Fédération Internationale de Motocyclisme (FIM). It is considered the pinnacle of
              motorcycle racing and features the fastest motorcycles and most skilled riders in the world. The history of MotoGP dates back to the early 20th century when motorcycle racing gained popularity across Europe. The FIM
              established the World Championship for motorcycle racing in 1949, which included multiple classes including the premier class that would later become known as MotoGP. Over the years, MotoGP has evolved significantly,
              witnessing technological advancements in motorcycle design, safety measures, and racing strategies. The championship has seen legendary riders such as Giacomo Agostini, Valentino Rossi, Marc Marquez, and many others who have
              left a lasting impact on the sport. MotoGP races are held on various iconic circuits worldwide, including circuits like Circuit de Barcelona-Catalunya in Spain, Mugello Circuit in Italy, Circuit of the Americas in the United
              States, and many others. The championship consists of multiple races called Grands Prix, where riders compete for points based on their finishing positions. Today, MotoGP continues to captivate audiences globally with its
              thrilling races, fierce competition, and remarkable displays of skill and bravery from the riders, making it one of the most exciting and prestigious motorsport championships in the world.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center">Copyright &copy; 2024 RacingStation</p>
            <p class="copyright-text text-center">Support me on <a rel="nofollow" href="https://saweria.co/RacingStation" target="_blank">Saweria</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/Headroom.js"></script>
    <script src="../assets/js/jQuery.headroom.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/smoothscroll.js"></script>
    <script src="../assets/js/custom.js"></script>
  </body>
</html>
